<!DOCTYPE html>
<html lang="en">
  <head>
    <title>DoubleGDP</title>
    <style>
     body {
      background: #f26d20;
     }
     div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      p {
        text-align: center;
        color: #ffffff;
        font-size: 3vw;
        font-family: Arial, Helvetica, sans-serif;
      }
    </style>
  </head>

  <body>
   <div>
      <p>
      Thank you for being a DoubleGDP user. Unfortunately, as of April 28, this service is no longer available. Please <a href="https://www.doublegdp.com/company/2023/03/19/dgdp-shutdown/">see here <a>for more information
      </p>
    </div>
  </body>
</html>
